<div class="registration">
  <div class="registration__container">
    <div class="circle"></div>
    <img src="../../assets/imgs/calendar-check_1.svg" alt="calendar" class="calendar">
    <div class="registration__square">
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input formControlName="email" class="input is-rounded" type="email" placeholder="Your email">
          </div>
          <div [@appear] *ngIf="loginForm.get('email').touched && loginForm.invalid && loginForm.get('email').errors" class="errors">
            <p *ngIf="loginForm.get('email').errors?.required" class="help is-danger">Enter email</p>
            <p *ngIf="loginForm.get('email').errors?.email" class="help is-danger">Email is incorrect</p>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control ">
            <input formControlName="password" class="input is-rounded" type="password" placeholder="Your password">
          </div>
          <div *ngIf="loginForm.get('password').touched && loginForm.invalid" class="errors">
            <p [@appear] *ngIf="loginForm.get('password').errors?.required" class="help is-danger">Enter your password</p>
          </div>
        </div>
        <button class="button" type="submit" [disabled]="loginForm.invalid">Log in</button>
      </form>
      <a [routerLink]="['/registration']">No account?</a>
    </div>
  </div>
</div>
